In [1]:
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [2]:
# !pip install tabula-py
# !pip install jpype1

In [3]:
from tabula import read_pdf
df = read_pdf('jan_2023_data_for_website.pdf', pages="all")

In [4]:
# df

In [5]:
data = pd.concat(df, ignore_index=True)
data

,STATE/UT,DISTRICT,TEHSIL/BLOCK,VILLAGE NAME,SITE NAME,LATITUDE,LONGITUDE,WELL SITE TYPE,WATER,SITE NAME LATITUDE,...,STATE/UT DISTRICT,TEHSIL/BLOCK VILLAGE NAME,VILLAGE NAME SITE NAME,Delhi,Central,CIVIL LINES,Burari Burari DJB Ex.Engg,28.73305,77.19722,3.56
0,NaN,NaN,NAME,NaN,NaN,NaN,NaN,NaN,LEVEL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(mbgl),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Andhra Pradesh,Anantapur,Amarapuram,Palasamudram,Palasamudram,13.9605,77.6761,Dug Well,0.57,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhra Pradesh,Anantapur,Atmakur,Atmakur,Atmakur-PZ,14.64487,77.3638,Bore Well,3.43,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andhra Pradesh,Anantapur,Atmakur,Waddipalli,Waddipalli,14.67769,77.4562,Dug Well,1.03,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18774,West Bengal,West Medinipur,Rohini,Naikansole Colony,NAIKANSOLE,22.27401,87.14861,Dug Well,5.49,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18775,NaN,NaN,NaN,NaN,COLONY,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18776,West Bengal,West Medinipur,Salboni,Gobru,Gobru,22.50968,87.32653,Dug Well,4.83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18777,West Bengal,West Medinipur,Salboni,Godapiasal,Godapiasal,22.53712,87.3278,Dug Well,6.89,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18778,West Bengal,West Medinipur,Silda,Muohi Bundh,Muohi Bundh,22.60498,86.80772,Dug Well,2.76,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.shape

(18779, 21)

In [7]:
# data.isnull().sum

In [8]:
d = pd.DataFrame(data)

In [9]:
d

,STATE/UT,DISTRICT,TEHSIL/BLOCK,VILLAGE NAME,SITE NAME,LATITUDE,LONGITUDE,WELL SITE TYPE,WATER,SITE NAME LATITUDE,...,STATE/UT DISTRICT,TEHSIL/BLOCK VILLAGE NAME,VILLAGE NAME SITE NAME,Delhi,Central,CIVIL LINES,Burari Burari DJB Ex.Engg,28.73305,77.19722,3.56
0,NaN,NaN,NAME,NaN,NaN,NaN,NaN,NaN,LEVEL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(mbgl),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Andhra Pradesh,Anantapur,Amarapuram,Palasamudram,Palasamudram,13.9605,77.6761,Dug Well,0.57,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhra Pradesh,Anantapur,Atmakur,Atmakur,Atmakur-PZ,14.64487,77.3638,Bore Well,3.43,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andhra Pradesh,Anantapur,Atmakur,Waddipalli,Waddipalli,14.67769,77.4562,Dug Well,1.03,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18774,West Bengal,West Medinipur,Rohini,Naikansole Colony,NAIKANSOLE,22.27401,87.14861,Dug Well,5.49,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18775,NaN,NaN,NaN,NaN,COLONY,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18776,West Bengal,West Medinipur,Salboni,Gobru,Gobru,22.50968,87.32653,Dug Well,4.83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18777,West Bengal,West Medinipur,Salboni,Godapiasal,Godapiasal,22.53712,87.3278,Dug Well,6.89,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18778,West Bengal,West Medinipur,Silda,Muohi Bundh,Muohi Bundh,22.60498,86.80772,Dug Well,2.76,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18779 entries, 0 to 18778
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   STATE/UT                   16757 non-null  object
 1   DISTRICT                   16531 non-null  object
 2   TEHSIL/BLOCK               17198 non-null  object
 3   VILLAGE NAME               16391 non-null  object
 4   SITE NAME                  16524 non-null  object
 5   LATITUDE                   16228 non-null  object
 6   LONGITUDE                  16580 non-null  object
 7   WELL SITE TYPE             16489 non-null  object
 8   WATER                      17816 non-null  object
 9   SITE NAME LATITUDE         379 non-null    object
 10  Unnamed: 0                 0 non-null      float64
 11  STATE/UT DISTRICT          64 non-null     object
 12  TEHSIL/BLOCK VILLAGE NAME  151 non-null    object
 13  VILLAGE NAME SITE NAME     133 non-null    object
 14  Delhi                      19 non-null     object
 15  Central                    19 non-null     object
 16  CIVIL LINES                19 non-null     object
 17  Burari Burari DJB Ex.Engg  23 non-null     object
 18  28.73305                   18 non-null     float64
 19  77.19722                   19 non-null     float64
 20  3.56                       19 non-null     float64
dtypes: float64(4), object(17)
memory usage: 3.0+ MB

In [11]:
# print(d.drop('Delhi'))
d

,STATE/UT,DISTRICT,TEHSIL/BLOCK,VILLAGE NAME,SITE NAME,LATITUDE,LONGITUDE,WELL SITE TYPE,WATER,SITE NAME LATITUDE,...,STATE/UT DISTRICT,TEHSIL/BLOCK VILLAGE NAME,VILLAGE NAME SITE NAME,Delhi,Central,CIVIL LINES,Burari Burari DJB Ex.Engg,28.73305,77.19722,3.56
0,NaN,NaN,NAME,NaN,NaN,NaN,NaN,NaN,LEVEL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(mbgl),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Andhra Pradesh,Anantapur,Amarapuram,Palasamudram,Palasamudram,13.9605,77.6761,Dug Well,0.57,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andhra Pradesh,Anantapur,Atmakur,Atmakur,Atmakur-PZ,14.64487,77.3638,Bore Well,3.43,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andhra Pradesh,Anantapur,Atmakur,Waddipalli,Waddipalli,14.67769,77.4562,Dug Well,1.03,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18774,West Bengal,West Medinipur,Rohini,Naikansole Colony,NAIKANSOLE,22.27401,87.14861,Dug Well,5.49,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18775,NaN,NaN,NaN,NaN,COLONY,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18776,West Bengal,West Medinipur,Salboni,Gobru,Gobru,22.50968,87.32653,Dug Well,4.83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18777,West Bengal,West Medinipur,Salboni,Godapiasal,Godapiasal,22.53712,87.3278,Dug Well,6.89,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18778,West Bengal,West Medinipur,Silda,Muohi Bundh,Muohi Bundh,22.60498,86.80772,Dug Well,2.76,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
d = d.iloc[:, :9]  # Keep only the first 9 columns
d

,STATE/UT,DISTRICT,TEHSIL/BLOCK,VILLAGE NAME,SITE NAME,LATITUDE,LONGITUDE,WELL SITE TYPE,WATER
0,NaN,NaN,NAME,NaN,NaN,NaN,NaN,NaN,LEVEL
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(mbgl)
2,Andhra Pradesh,Anantapur,Amarapuram,Palasamudram,Palasamudram,13.9605,77.6761,Dug Well,0.57
3,Andhra Pradesh,Anantapur,Atmakur,Atmakur,Atmakur-PZ,14.64487,77.3638,Bore Well,3.43
4,Andhra Pradesh,Anantapur,Atmakur,Waddipalli,Waddipalli,14.67769,77.4562,Dug Well,1.03
...,...,...,...,...,...,...,...,...,...
18774,West Bengal,West Medinipur,Rohini,Naikansole Colony,NAIKANSOLE,22.27401,87.14861,Dug Well,5.49
18775,NaN,NaN,NaN,NaN,COLONY,NaN,NaN,NaN,NaN
18776,West Bengal,West Medinipur,Salboni,Gobru,Gobru,22.50968,87.32653,Dug Well,4.83
18777,West Bengal,West Medinipur,Salboni,Godapiasal,Godapiasal,22.53712,87.3278,Dug Well,6.89
18778,West Bengal,West Medinipur,Silda,Muohi Bundh,Muohi Bundh,22.60498,86.80772,Dug Well,2.76

In [13]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18779 entries, 0 to 18778
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   STATE/UT        16757 non-null  object
 1   DISTRICT        16531 non-null  object
 2   TEHSIL/BLOCK    17198 non-null  object
 3   VILLAGE NAME    16391 non-null  object
 4   SITE NAME       16524 non-null  object
 5   LATITUDE        16228 non-null  object
 6   LONGITUDE       16580 non-null  object
 7   WELL SITE TYPE  16489 non-null  object
 8   WATER           17816 non-null  object
dtypes: object(9)
memory usage: 1.3+ MB

In [14]:
# d = d.rename(columns={
#     "STATE/UT": "STATE",
#     "TEHSIL/BLOCK": "TEHSIL",
#     "VILLAGE NAME": "Village",
#     "SITE NAME": "Site",
#     "WELL SITE TYPE": "WellType"
# })
d.columns = ["STATE", "DISTRICT","TEHSIL", "Village", "Site", "LATITUDE","LONGITUDE","WellType","WATER"]

In [15]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18779 entries, 0 to 18778
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STATE      16757 non-null  object
 1   DISTRICT   16531 non-null  object
 2   TEHSIL     17198 non-null  object
 3   Village    16391 non-null  object
 4   Site       16524 non-null  object
 5   LATITUDE   16228 non-null  object
 6   LONGITUDE  16580 non-null  object
 7   WellType   16489 non-null  object
 8   WATER      17816 non-null  object
dtypes: object(9)
memory usage: 1.3+ MB

In [16]:
print(d.columns)

Index(['STATE', 'DISTRICT', 'TEHSIL', 'Village', 'Site', 'LATITUDE',
       'LONGITUDE', 'WellType', 'WATER'],
      dtype='object')

In [17]:
d

,STATE,DISTRICT,TEHSIL,Village,Site,LATITUDE,LONGITUDE,WellType,WATER
0,NaN,NaN,NAME,NaN,NaN,NaN,NaN,NaN,LEVEL
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(mbgl)
2,Andhra Pradesh,Anantapur,Amarapuram,Palasamudram,Palasamudram,13.9605,77.6761,Dug Well,0.57
3,Andhra Pradesh,Anantapur,Atmakur,Atmakur,Atmakur-PZ,14.64487,77.3638,Bore Well,3.43
4,Andhra Pradesh,Anantapur,Atmakur,Waddipalli,Waddipalli,14.67769,77.4562,Dug Well,1.03
...,...,...,...,...,...,...,...,...,...
18774,West Bengal,West Medinipur,Rohini,Naikansole Colony,NAIKANSOLE,22.27401,87.14861,Dug Well,5.49
18775,NaN,NaN,NaN,NaN,COLONY,NaN,NaN,NaN,NaN
18776,West Bengal,West Medinipur,Salboni,Gobru,Gobru,22.50968,87.32653,Dug Well,4.83
18777,West Bengal,West Medinipur,Salboni,Godapiasal,Godapiasal,22.53712,87.3278,Dug Well,6.89
18778,West Bengal,West Medinipur,Silda,Muohi Bundh,Muohi Bundh,22.60498,86.80772,Dug Well,2.76

In [18]:
d = d.dropna(subset=["LATITUDE"])

In [19]:
d = d.dropna(subset=["LONGITUDE"])

In [20]:
d = d.dropna(subset=["Site"])

In [21]:
d = d.dropna(subset=["STATE"])

In [22]:
d = d.dropna(subset=["DISTRICT"])

In [23]:
d = d.dropna(subset=["TEHSIL"])

In [24]:
d = d.dropna(subset=["Village"])

In [25]:
d = d.dropna(subset=["WATER"])

In [26]:
d

,STATE,DISTRICT,TEHSIL,Village,Site,LATITUDE,LONGITUDE,WellType,WATER
2,Andhra Pradesh,Anantapur,Amarapuram,Palasamudram,Palasamudram,13.9605,77.6761,Dug Well,0.57
3,Andhra Pradesh,Anantapur,Atmakur,Atmakur,Atmakur-PZ,14.64487,77.3638,Bore Well,3.43
4,Andhra Pradesh,Anantapur,Atmakur,Waddipalli,Waddipalli,14.67769,77.4562,Dug Well,1.03
5,Andhra Pradesh,Anantapur,Bukkarayasamudram,Korrapadu,Korrapadu,14.75411,77.71196,Dug Well,1.05
6,Andhra Pradesh,Anantapur,Bukkarayasamudram,Regadikoturu,Regadikoturu-OW,14.766389,77.62333,Bore Well,1.67
...,...,...,...,...,...,...,...,...,...
18773,West Bengal,West Medinipur,Narayangarh,Nekursini,Nekursini,21.975303,87.287457,Dug Well,9.13
18774,West Bengal,West Medinipur,Rohini,Naikansole Colony,NAIKANSOLE,22.27401,87.14861,Dug Well,5.49
18776,West Bengal,West Medinipur,Salboni,Gobru,Gobru,22.50968,87.32653,Dug Well,4.83
18777,West Bengal,West Medinipur,Salboni,Godapiasal,Godapiasal,22.53712,87.3278,Dug Well,6.89
18778,West Bengal,West Medinipur,Silda,Muohi Bundh,Muohi Bundh,22.60498,86.80772,Dug Well,2.76

In [27]:
d = d.drop(d.index[::30])  # Removes every 2th row
d

,STATE,DISTRICT,TEHSIL,Village,Site,LATITUDE,LONGITUDE,WellType,WATER
3,Andhra Pradesh,Anantapur,Atmakur,Atmakur,Atmakur-PZ,14.64487,77.3638,Bore Well,3.43
4,Andhra Pradesh,Anantapur,Atmakur,Waddipalli,Waddipalli,14.67769,77.4562,Dug Well,1.03
5,Andhra Pradesh,Anantapur,Bukkarayasamudram,Korrapadu,Korrapadu,14.75411,77.71196,Dug Well,1.05
6,Andhra Pradesh,Anantapur,Bukkarayasamudram,Regadikoturu,Regadikoturu-OW,14.766389,77.62333,Bore Well,1.67
7,Andhra Pradesh,Anantapur,Chennakothapalle,Chenna Kothapalli,Chenna Kothapalli-PZ,14.27033,77.6254,Bore Well,3.12
...,...,...,...,...,...,...,...,...,...
18772,West Bengal,West Medinipur,Narayangarh,Makrampur,Makrampur,22.21857,87.39115,Dug Well,2.64
18773,West Bengal,West Medinipur,Narayangarh,Nekursini,Nekursini,21.975303,87.287457,Dug Well,9.13
18776,West Bengal,West Medinipur,Salboni,Gobru,Gobru,22.50968,87.32653,Dug Well,4.83
18777,West Bengal,West Medinipur,Salboni,Godapiasal,Godapiasal,22.53712,87.3278,Dug Well,6.89
18778,West Bengal,West Medinipur,Silda,Muohi Bundh,Muohi Bundh,22.60498,86.80772,Dug Well,2.76

In [28]:
d = d.drop(d.index[::2])
d

,STATE,DISTRICT,TEHSIL,Village,Site,LATITUDE,LONGITUDE,WellType,WATER
4,Andhra Pradesh,Anantapur,Atmakur,Waddipalli,Waddipalli,14.67769,77.4562,Dug Well,1.03
6,Andhra Pradesh,Anantapur,Bukkarayasamudram,Regadikoturu,Regadikoturu-OW,14.766389,77.62333,Bore Well,1.67
8,Andhra Pradesh,Anantapur,Dharmavaram,Dharmavaram,Dharmavaram,14.4138,77.71609,Dug Well,1.29
10,Andhra Pradesh,Anantapur,Dharmavaram,Dharmavaram-Ewll,Dharmavaram-Ewll,14.3864,77.7102,Bore Well,3.35
12,Andhra Pradesh,Anantapur,Gooty,Gooty,Gooty-PZ,15.1259,77.6346,Bore Well,7.82
...,...,...,...,...,...,...,...,...,...
18768,West Bengal,West Medinipur,Medinipur,Jamir Ara,Jamir Ara,22.45932,87.39085,Dug Well,1.07
18770,West Bengal,West Medinipur,Medinipur,Medinipur,Medinipur,22.42152,87.30882,Dug Well,5.15
18772,West Bengal,West Medinipur,Narayangarh,Makrampur,Makrampur,22.21857,87.39115,Dug Well,2.64
18776,West Bengal,West Medinipur,Salboni,Gobru,Gobru,22.50968,87.32653,Dug Well,4.83
18778,West Bengal,West Medinipur,Silda,Muohi Bundh,Muohi Bundh,22.60498,86.80772,Dug Well,2.76

In [33]:
d = d[]

SyntaxError: invalid syntax (2903533985.py, line 1)

In [29]:
# d = d[d["WellType"] != "Dug Well"]
# d
# d = d.drop_duplicates(subset=['Dug Well'])

In [30]:
# d_sampled = d.sample(n=250, random_state=42)  # Selects 250 random rows
# # print(d_sampled)
# d_sampled.tail(60)

In [31]:
# # Drop rows where 'STATE' is NaN
# d_cleaned = d.dropna(subset=["STATE"])  

# # Get 10 rows per state (or fewer if not enough exist)
# d_sampled = d_cleaned.groupby("STATE", group_keys=False).apply(
#     lambda x: x.sample(n=min(10, len(x)), random_state=42)
# )

# print(d_sampled["STATE"].value_counts())  # Check how many rows per state
# # print(d_sampled)  # View the final sampled dataset
# d_sampled.isnull().sum
# d_sampled.info()

In [32]:
# d.to_csv("waterData03.csv", index= False)
# df.to_csv('movies_cleaned01.csv', index= False)
# d.to_json("waterData03.js", orient="records")